<h1>PART-1</h1>

In [ ]:
import pandas as pd

tickets = pd.read_csv("data_safe_copy.csv")

print(tickets.shape[0])

tickets.head()

tickets.info()

# tickets

500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ticket_id           500 non-null    object
 1   opened_at           500 non-null    object
 2   category            500 non-null    object
 3   priority            500 non-null    object
 4   resolution_minutes  450 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB

    ticket_id         opened_at   category priority resolution_minutes
0     TK-0001  2024-03-01 09:00    billing      low                 45
1     TK-0002  2024-03-01 09:30    account   medium                 30
2     TK-0003  2024-03-01 10:00  technical     high                 75
3     TK-0004  2024-03-01 10:30    billing      low                NaN
4     TK-0005  2024-03-01 11:00    account   medium            unknown
..        ...               ...        ...      ...                ...
495   TK-0496  2024-03-01 11:30  TECHNICAL     high                 60
496   TK-0497  2024-03-01 12:00    billing    high                  15
497   TK-0498  2024-03-01 12:30    account      low                 90
498   TK-0499  2024-03-01 13:00  technical   medium                120
499   TK-0500  2024-03-01 13:30    billing   medium                 25

[500 rows x 5 columns]

<h1>PART-2</h1>

In [17]:
tickets["opened_at"] = pd.to_datetime(tickets["opened_at"])

tickets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ticket_id           500 non-null    object
 1   opened_at           500 non-null    datetime64[ns]
 2   category            500 non-null    object
 3   priority            500 non-null    object
 4   resolution_minutes  450 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 19.7+ KB

In [ ]:
tickets["category"] = tickets["category"].str.strip()
tickets["category"] = tickets["category"].str.lower()
tickets["priority"] = tickets["priority"].str.strip()
tickets["priority"] = tickets["priority"].str.lower()

print(tickets["category"].unique())
print(tickets["priority"].unique())

['billing' 'account' 'technical']
['low' 'medium' 'high']

<h1>PART-3</h1>

In [34]:
invalids = tickets["resolution_minutes"].isna()
tickets["resolution_minutes"] = pd.to_numeric(tickets["resolution_minutes"],errors="coerce")

tickets

missing_values = tickets["resolution_minutes"].isna()

bool (missing_values.sum() == invalids.sum())

True